<!DOCTYPE html>
<html>

<head>
  <title>nomadicube</title>
  <link href='/static/css/main.css' rel='stylesheet' type='text/css'>
  <meta name="description" content="cubespace" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/x-icon" href="/static/img/favicon.png" />
</head>

<body>

  
  <h1 class="header">nomadicube</h1>
  
  <h3 class="menu">
    <a href="../" class="menu">Home</a>
    <a href="./info" class="menu">Information</a>
  </h3>
